extend layout

mixin contact-box(map_target)
  div.contact-box
    block
    a.map-link(href="#{map_target}")
      span.fa.fa-external-link
      | Näytä kartalla

mixin section(name)
  section.section
    h2(id= name).inline= t(name + ".header")
    div.inline
      block
      img(src="/img/arrow-divider.png").divider

block church
  +section("church")
    div.inline.text-box
      p= t("church.ceremony")
      //<p>Sanomme toisillemme tahdon lauantaina 17.5.2014 Helsingissä – toivottavasti pääset osallistumaan suureen päiväämme!</p>
        <p>Muistathan ilmoittautua (linkki) 22.4.2014 (TBD) mennessä. Otathan yhteyttä (linkki) mikäli sinulla on kysyttävää
        (linkki) juhlaamme liittyen tai haluat esimerkiksi esittää ohjelmanumeron (linkki).</p>
      p Pukukoodi: tumma puku
    div
    div.center-align
      +contact-box('')
        p= t("church.address_1")
        p= t("church.address_2")
        p= t("church.address_3")
      +contact-box('')
        p= t("party.address_1")
        p= t("party.address_2")
        p= t("party.address_3")
    div#map-johanneksenkirkko.google-maps.inline
    div#map-g18.google-maps.inline
    div.text-box
        p= t("party.directions_1")
        p= t("party.directions_2")
block rsvp
  +section('rsvp')
    div.inline.text-box
      p= t("rsvp.info")
      p= t("rsvp.nokids")
      p= t("rsvp.info_2")
    div.center-align
      +contact-box('')
        p= t('rsvp.contact_heidi')
        p= t('rsvp.contact_rasmus')

block wishlist
  +section('wishlist')
    div.inline.text-box
      p= t("wishlist.info")

block program
  +section('program')
    div.inline.text-box
      p= t("program.info")

block hotels
  +section('hotels')
    div.inline.text-box
       p= t("hotels.info")
       p= t("hotels.info_2")
    div
    div.center-align
      +contact-box('')
        p= t("hotels.glo.address_1")
        p= t("hotels.glo.address_2")
        p= t("hotels.glo.address_3")
        p= t("hotels.glo.address_4")
      +contact-box('')
        p= t("hotels.radisson.address_1")
        p= t("hotels.radisson.address_2")
        p= t("hotels.radisson.address_3")
        p= t("hotels.radisson.address_4")
    div#map-hotels.google-maps.inline
