extend layout

mixin contact-box(map_target)
  div.contact-box
    block
    a.link-with-icon(href="mailto:lol@bal.com")
      span.fa.fa-envelope-o
      | Ota yhteyttä

mixin map-box(map_target)
  div.map-box
    div(id='map-#{map_target}').map-frame
      i.fa.fa-times
      div.border
      div.google-maps.inline
    block
    a.link-with-icon(href="##{map_target}" onclick="showMap('#{map_target}')")
      i.fa.fa-external-link
      | Näytä kartalla

mixin section(name)
  section.section
    h2(id= name).inline= t(name + ".header")
    div.inline
      block
      img(src="/img/arrow-divider.png").divider

block church
  +section("church")
    div.inline.text-box
      p= t("church.ceremony")
      //<p>Sanomme toisillemme tahdon lauantaina 17.5.2014 Helsingissä – toivottavasti pääset osallistumaan suureen päiväämme!</p>
        <p>Muistathan ilmoittautua (linkki) 22.4.2014 (TBD) mennessä. Otathan yhteyttä (linkki) mikäli sinulla on kysyttävää
        (linkki) juhlaamme liittyen tai haluat esimerkiksi esittää ohjelmanumeron (linkki).</p>
      p Pukukoodi: tumma puku
    div
    div.center-align
      +map-box('johanneksenkirkko')
        p= t("church.address_1")
        p= t("church.address_2")
        p= t("church.address_3")
      +map-box('g18')
        p= t("party.address_1")
        p= t("party.address_2")
        p= t("party.address_3")
    div.text-box
        p= t("party.directions_1")
        p= t("party.directions_2")
block rsvp
  +section('rsvp')
    div.inline.text-box
      p= t("rsvp.info")
      p= t("rsvp.nokids")
    div.center-align
      +contact-box('')
        p= t('rsvp.contact_heidi')
        p= t('rsvp.contact_rasmus')

block giftlist
  +section('giftlist')
    div.inline.text-box
      p= t("giftlist.info")
      div.center-align.test
        a.link-with-icon.inline.giftlist(href="#giftlist")
          | Elämykset
        a.link-with-icon.inline(href="https://haapalvelu.stockmann.fi/fin/giftlist/giftlist_search.asp")
          span.fa.fa-external-link
          | Stockmann

block program
  +section('program')
    div.inline.text-box
      p= t("program.info")

block hotels
  +section('hotels')
    div.inline.text-box
       p= t("hotels.info")
       p= t("hotels.info_2")
    div
    div.center-align
      +map-box('glo')
        p= t("hotels.glo.address_1")
        p= t("hotels.glo.address_2")
        p= t("hotels.glo.address_3")
        p= t("hotels.glo.address_4")
      +map-box('radisson')
        p= t("hotels.radisson.address_1")
        p= t("hotels.radisson.address_2")
        p= t("hotels.radisson.address_3")
        p= t("hotels.radisson.address_4")
