extend layout

mixin contact-box(email)
  div.contact-box
    block
    a.link-with-icon(href="mailto:#{email}")
      i.fa.fa-envelope-o
      | #{email}

mixin map-box(map_target)
  div.map-box
    div(id='map-#{map_target}').map-frame
      i.fa.fa-times
      div.border
      div.google-maps.inline
    block
    a.link-with-icon(href="##{map_target}" onclick="showMap('#{map_target}')")
      i.fa.fa-external-link
      =t("show_on_map")

mixin section(name)
  section.section
    h2(id= name).inline= t(name + ".header")
    div.inline
      block
      img(src="/img/arrow-divider.png").divider

block church
  +section("church")
    div.inline.text-box
      p= t("church.ceremony")
      //<p>Sanomme toisillemme tahdon lauantaina 17.5.2014 Helsingissä – toivottavasti pääset osallistumaan suureen päiväämme!</p>
        <p>Muistathan ilmoittautua (linkki) 22.4.2014 (TBD) mennessä. Otathan yhteyttä (linkki) mikäli sinulla on kysyttävää
        (linkki) juhlaamme liittyen tai haluat esimerkiksi esittää ohjelmanumeron (linkki).</p>
      p= t("church.dresscode")
    div
    div.center-align
      +map-box('johanneksenkirkko')
        p= t("church.address_1")
        p= t("church.address_2")
        p= t("church.address_3")
      +map-box('g18')
        p= t("party.address_1")
        p= t("party.address_2")
        p= t("party.address_3")
    div.text-box
        p= t("party.directions_1")
        p= t("party.directions_2")
block rsvp
  +section('rsvp')
    div.inline.text-box
      p= t("rsvp.info")
      p= t("rsvp.nokids")
    div.center-align
      +contact-box('heidirasmus1705@gmail.com')
        p= t('rsvp.contact_heidi')
        p= t('rsvp.contact_rasmus')

block giftlist
  +section('giftlist')
    div.inline.text-box
      p= t("giftlist.info")
      div.center-align.test
        div.popup-container
          div.giftlist-popup.popup
            i.fa.fa-times
            div.border
        a.link-with-icon.inline(href="http://www.lahjalista.net/heidirasmus")
          span.fa.fa-external-link
          =t("giftlist.link_name")

block program
  +section("program")
    div.inline.text-box
      p= t("program.info")
    div.center-align
      +contact-box("irene.rissanen@lego.com")
        p= t("program.contact_irkku")
      +contact-box("johan.j.back@gmail.com")
        p= t("program.contact_johan")

block hotels
  +section('hotels')
    div.inline.text-box
       p= t("hotels.info")
       p= t("hotels.info_2")
    div
    div.center-align
      +map-box('glo')
        p= t("hotels.glo.address_1")
        p= t("hotels.glo.address_2")
        p= t("hotels.glo.address_3")
        p= t("hotels.glo.address_4")
      +map-box('radisson')
        p= t("hotels.radisson.address_1")
        p= t("hotels.radisson.address_2")
        p= t("hotels.radisson.address_3")
        p= t("hotels.radisson.address_4")
