<img class="banner-image" src="img/temp.jpg">
<section class="section">
	<h2 id="church" class="inline">
		{{__ "church.header"}}
	</h2>
	<div class="inline">
		<div class="inline text-box">
			<p>{{__ "church.ceremony"}}</p>
			<!--p>Sanomme toisillemme tahdon lauantaina 17.5.2014 Helsingissä – toivottavasti pääset osallistumaan suureen päiväämme!</p>
			<p>Muistathan ilmoittautua (linkki) 22.4.2014 (TBD) mennessä. Otathan yhteyttä (linkki) mikäli sinulla on kysyttävää
                (linkki) juhlaamme liittyen tai haluat esimerkiksi esittää ohjelmanumeron (linkki).</p>
			<p>Pukukoodi: tumma puku</p-->

		</div>
		<div></div>
        <div class="center-align">
        	<div class="contact-box">
            	<p>{{__ "church.address.1"}}</p>
            	<p>{{__ "church.address.2"}}</p>
            	<p>{{__ "church.address.3"}}</p>
            	<a href="" class="map-link"><span class="fa fa-external-link"></span>Näytä kartalla</a>
        	</div>
        	<div class="contact-box">
            	<p>{{__ "party.address.1"}}</p>
            	<p>{{__ "party.address.2"}}</p>
            	<p>{{__ "party.address.3"}}</p>
            	<a href="" class="map-link"><span class="fa fa-external-link"></span>Näytä kartalla</a>
        	</div>
        </div>
        <div class="google-maps inline" id="map-johanneksenkirkko"></div>
		<div class="google-maps inline" id="map-g18"></div>
		<div class="text-box">
			<p>{{__ "party.directions.1"}}</p>
			<p>{{__ "party.directions.2"}}</p>
		</div>
        <img class="divider" src="/img/arrow-divider.png">
	</div>
</section>
<section class="section">
	<h2 id="rsvp" class="inline">
		{{__ "rsvp.header"}}
	</h2>
    <div class="inline">
        <div class="inline text-box">
            <p>{{__ "rsvp.info"}}</p>
            <p>{{__ "rsvp.nokids"}}</p>
            <p>{{__ "rsvp.info.2"}}</p>
        </div>
        <div></div>
        <div class="contact-box">
            <p>{{__ "rsvp.contact.heidi"}}</p>
            <p>{{__ "rsvp.contact.rasmus"}}</p>
        </div>
        <img class="divider" src="/img/arrow-divider.png">
    </div>
</section>
<section class="section">
	<h2 id="wishlist" class="inline">
		{{__ "wishlist.header"}}
	</h2>
	<div class="inline text-box">
		<p>{{__ "wishlist.info"}}</p>
        <img class="divider" src="/img/arrow-divider.png">
	</div>
</section>
<section class="section">
	<h2 id="program" class="inline">
		{{__ "program.header"}}
	</h2>
	<div class="inline text-box">
		<p>{{__ "program.info"}}</p>
        <img class="divider" src="/img/arrow-divider.png">
	</div>
</section>
<section class="section">
    <h2 id="hotels" class="inline">
        {{__ "hotels.header"}}
    </h2>
    <div class="inline">
        <div class="inline text-box">
            <p>{{__ "hotels.info"}}</p>
            <p>{{__ "hotels.info.2"}}</p>
        </div>
        <div></div>
        <div class="contact-box">
            <p>{{__ "hotels.address.glo.1"}}</p>
            <p>{{__ "hotels.address.glo.2"}}</p>
            <p>{{__ "hotels.address.glo.3"}}</p>
            <p>{{__ "hotels.address.glo.4"}}</p>
            <a href="" class="map-link"><span class="fa fa-external-link"></span>Näytä kartalla</a>
        </div>
        <div class="contact-box">
            <p>{{__ "hotels.address.raddisson.1"}}</p>
            <p>{{__ "hotels.address.raddisson.2"}}</p>
            <p>{{__ "hotels.address.raddisson.3"}}</p>
            <p>{{__ "hotels.address.raddisson.4"}}</p>
            <a href="" class="map-link"><span class="fa fa-external-link"></span>Näytä kartalla</a>
        </div>
    </div>
    <div class="google-maps info-box inline" id="map-hotels"></div>
</section>