doctype
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  title= "Heidi & Rasmus"
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(charset="utf-8")
  include includes/styles
  include includes/scripts
body
  include includes/gcf
  div.welcome
    h1= "Heidi & Rasmus"
  article.main
    section#seating.section
      img.floorplan(src="/img/seating2.png")
      div.guest-table.one
        div.sides.clearfix
          div.left
            div.guest-seat= "Johan"
            div.guest-seat= "Julia"
            div.guest-seat= "Jani M"
            div.guest-seat= "Kaisa"
          div.right
            div.guest-seat= "Irene"
            div.guest-seat= "Joonas"
            div.guest-seat= "Hanna K"
            div.guest-seat= "Niklas K"
        div.bottom
          span.guest-seat= "Rasmus"
          span.guest-seat= "Heidi"
      div.guest-table.two
        div.sides.clearfix
          div.left
            div.guest-seat= "Mikko T"
            div.guest-seat= "Maija P"
            div.guest-seat= "Ossi"
            div.guest-seat= "Patricia"
            div.guest-seat= "Nick"
            div.guest-seat= "Linda"
            div.guest-seat= "Taneli"
            div.guest-seat= "Kristiina Y"
            div.guest-seat= "Teppo"
            div.guest-seat= "Pia"
            div.guest-seat= "Mikael"
            div.guest-seat= "Ida"
          div.right
            div.guest-seat= "Karoliina"
            div.guest-seat= "Marko"
            div.guest-seat= "Heidi O"
            div.guest-seat= "Olle"
            div.guest-seat= "Jonna"
            div.guest-seat= "Pietari"
            div.guest-seat= "Tuulia"
            div.guest-seat= "Tommi"
            div.guest-seat= "Anna B"
            div.guest-seat= "Michael"
            div.guest-seat= "Hanna-Leena"
            div.guest-seat= "Fredrik"
      div.guest-table.three
        div.sides.clearfix
          div.left
            div.guest-seat= "Jeanette"
            div.guest-seat= "Leena"
            div.guest-seat= "Ralph"
            div.guest-seat= "Merja"
            div.guest-seat= "Olli-Pekka"
            div.guest-seat= "Inkeri"
          div.right
            div.guest-seat= "Gunnel"
            div.guest-seat= "Åke"
            div.guest-seat= "Barbro"
            div.guest-seat= "Markku"
            div.guest-seat= "Kristiina R"
            div.guest-seat= "Pekka"
      div.guest-table.four
        div.sides.clearfix
          div.left
          div.right
      div.guest-table.five
        div.sides.clearfix
          div.left
            div.guest-seat= "Lauri"
            div.guest-seat= "Anne"
            div.guest-seat= "Maija O"
            div.guest-seat= "Ville"
            div.guest-seat= "Riikka"
            div.guest-seat= "Gonzalo"
            div.guest-seat= "Jari A"
            div.guest-seat= "Veera"
            div.guest-seat= "Juho"
          div.right
            div.guest-seat= "Sari"
            div.guest-seat= "Oskari"
            div.guest-seat= "Jarkko"
            div.guest-seat= "Anna L"
            div.guest-seat= "Teemu"
            div.guest-seat= "Viviana"
            div.guest-seat= "Ari"
            div.guest-seat= "Matias"
            div.guest-seat= "Merja"
      div.guest-table.six
        div.sides.clearfix
          div.left
            div.guest-seat= "Tyhjä"
            div.guest-seat= "Janne"
            div.guest-seat= "Roni"
            div.guest-seat= "Saga"
            div.guest-seat= "Kim-Henrik"
            div.guest-seat= "Sini"
            div.guest-seat= "Tero"
            div.guest-seat= "Virpi"
            div.guest-seat= "Christoffer"
          div.right
            div.guest-seat= "Tyhjä"
            div.guest-seat= "Nina"
            div.guest-seat= "Tatu"
            div.guest-seat= "Antti"
            div.guest-seat= "Maria-Rosa"
            div.guest-seat= "Jan-Erik"
            div.guest-seat= "Hanna B"
            div.guest-seat= "Jani R"
            div.guest-seat= "Anna V"
      div.guest-table.seven
        div.sides.clearfix
          div.left
            div.guest-seat= "Tyhjä"
            div.guest-seat= "Mikko H"
            div.guest-seat= "Maija B"
            div.guest-seat= "Åsa"
            div.guest-seat= "Eeva-Liisa"
            div.guest-seat= "Markus"
            div.guest-seat= "Lilibeth"
            div.guest-seat= "Rabbe"
            div.guest-seat= "Jari"
          div.right
            div.guest-seat= "Tyhjä"
            div.guest-seat= "Helka"
            div.guest-seat= "Juhani"
            div.guest-seat= "Teuvo"
            div.guest-seat= "Mirja"
            div.guest-seat= "Niklas B"
            div.guest-seat= "Kati"
            div.guest-seat= "Tom"
            div.guest-seat= "Tiina"
