doctype
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  title= "Heidi & Rasmus"
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(charset="utf-8")
  include includes/styles
  include includes/scripts
body
  include includes/gcf
  div.welcome
    h1= "Heidi & Rasmus"
  article.main
    section#seating.section
      img.floorplan(src="/img/seating.png")
      div.guest-table.one
        div.bottom.seats
          div= "Ralph"
          div= "Merja"
          div= "Rasmus"
          div= "Heidi"
          div= "Markku"
          div= "Barbro"
      div.guest-table.two
        div.sides
          div.seats.left
            div= "Mikko H"
            div= "Maija B"
            div= "Åsa"
            div= "Eeva-Liisa"
            div= "Markus"
            div= "Lilibeth"
            div= "Rabbe"
            div= "Jeanette"
            div= "Jari"
            div= "Leena"
            div= "Olli-Pekka"
            div= "Kristiina R"
          div.seats.right
            div= "Helka"
            div= "Juhani"
            div= "Teuvo"
            div= "Mirja"
            div= "Niklas B"
            div= "Kati"
            div= "Tom"
            div= "Gunnel"
            div= "Tiina"
            div= "Åke"
            div= "Inkeri"
            div= "Pekka"
      div.guest-table.three
        div.sides
          div.seats.left
            div= "Hanna B"
            div= "Christoffer"
            div= "Virpi"
            div= "Jan-Erik"
            div= "Sini"
            div= "Kim-Henrik"
            div= "Saga"
            div= "Jani M"
            div= "Irene"
          div.seats.right
            div= "Tero"
            div= "Anna V"
            div= "Jani R"
            div= "Tatu"
            div= "Maria-Rosa"
            div= "Antti"
            div= "Kaisa"
            div= "Joonas"
      div.guest-table.four
        div.sides
          div.seats.left
            div= "Linda"
            div= "Taneli"
            div= "Kristiina Y"
            div= "Teppo"
            div= "Pia"
            div= "Mikael"
            div= "Ida"
            div= "Niklas K"
            div= "Julia"
          div.seats.right
            div= "Pietari"
            div= "Tuulia"
            div= "Tommi"
            div= "Anna B"
            div= "Michael"
            div= "Hanna-Leena"
            div= "Fredrik"
            div= "Hanna K"
            div= "Johan"
      div.guest-table.five
        div.sides
          div.seats.left
            div= "Lauri"
            div= "Anne"
            div= "Maija O"
            div= "Ville"
            div= "Riikka"
            div= "Gonzalo"
            div= "Jari A"
            div= "Veera"
            div= "Juho"
            div= "Jonna"
            div= "Marko"
            div= "Patricia"
            div= "Ossi"
            div= "Nina"
            div= "Roni"
          div.seats.right
            div= "Sari"
            div= "Oskari"
            div= "Jarkko"
            div= "Anna L"
            div= "Teemu"
            div= "Viviana"
            div= "Ari"
            div= "Matias"
            div= "Merja"
            div= "Nick"
            div= "Maija P"
            div= "Olle"
            div= "Heidi O"
            div= "Janne"
            div= "Tyhjä"








